<div onclick="window.location.href = '/p/<%= @program.id %>';">
   

<div id="page-header" style="background-image: url('<%= @program.banners.attached? ? url_for(@program.banners.sample) : asset_path('header-background.jpg') %>');">
  Edit Study Abroad Program
</div>


</div>
<div id="flex-container">
 <div id="column1" class="flex-item"><table class="program-admin">
     <thead>
         <tr>
             <td>Admin Functions</td>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td><%= if @program.disabled then
                    link_to 'Enable Program', :controller => :programs, :action => :enable
                else
                    link_to 'Disable Program', :controller => :programs, :action => :disable
                end%></td>
         </tr>
     </tbody>
 </table>
 </div>
 <div id="column2" class="flex-item">
    <%= form_tag program_path(@program), :method => :put, enctype: "multipart/form-data" do  %>
        <table class="program-edit-table">
            <tbody>
                <tr>
                    <td class="program-edit-label"><%= label :program, :name, 'Program Name' %></td>
                    <td><%= text_field :program, :name %></td>
                </tr>
                <tr>
                    <td class="program-edit-label"><%= label :program, :location, 'Location (city, country)' %></td>
                    <td><%= text_field :program, :location %></td>
                </tr>
                <tr>
                    <td class="program-edit-label"><%= label :program, :region, 'Region' %></td>
                    <td><%= text_field :program, :region %></td>
                </tr>
                 <tr>
                    <td class="experience-edit-label">Banner Image:</td>
                    <td><%= file_field_tag :'banners[]', :multiple => true, :accept => 'image/jpeg,image/png', class: "form-control" %>
                </tr>
                <tr>
                    <td colspan="2" class="program-edit-submit"><%= submit_tag 'Save' %></td>
                </tr>
                <tr>
                    <td colspan="2" class="program-edit-submit">
                    <%= link_to "Add Participants", new_program_participant_path(@program.id) %>
                    </td>
                </tr>
            </tbody>
        </table>
    <% end %>
 </div>
</div>

</div>
