<div onclick="window.location.href = '/p/<%= @program.id %>';">
<div id="page-header" style="background-image: url('<%= @program.banners.attached? ? url_for(@program.banners.sample) : asset_path('header-background.jpg') %>');">
  Flagged Items for <%= @program.name %>
</div>
</div>
<div id="search-wrapper">
  <div class="search-border-outer">
    <div class="search-border-inner">
      <%= form_tag users_path(), :method => :get, :id => "search-form" do %>
        <input type="text" id="search-field" name="search" placeholder="search" value="<%= params[:search] %>">
        <input type="image" name="z" src="<%= asset_path("magnifying-glass.jpg") %>">
      <% end %>
    </div>
  </div>
</div>

<div id="flagged-wrapper">
  <table class="flagged-list">
    <thead>
      <tr>
        <th>Flagged Item</th>
        <th>Creator</th>
        <th>Type</th>
        <th>Date Created</th>
        <th>Flagged By</th>
        <th>Date Flagged</th>
        <th>Clear All Flags</th>
        <th>Delete Post</th>
        <th>Ban User</th>
      </tr>
    </thead>
      <tbody>
        <% @experiences.reject { |e| e.user.banned? }.each do |flagged_experience| %>
          <tr>
            <td><%= link_to "#{flagged_experience.experience.title}", experience_path(flagged_experience.experience) %></td>
            <td><%= link_to flagged_experience.experience.user.name, user_path(flagged_experience.experience.user) %></td>
            <td>Experience</td>
            <td><%= flagged_experience.experience.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= flagged_experience.user.name %></td>
            <td><%= flagged_experience.created_at.strftime("%m/%d/%Y") %></td></div></td>
            <td><div class="delete-button"><%= button_to 'Clear', unflag_experience_path(flagged_experience.experience_id), method: :post, data: { confirm: 'Are you sure you want to clear all flags for this experience?' }%>
            <td><div class="delete-button"><%= button_to 'Delete', "/experience/#{flagged_experience.experience.id}/rdelete", method: :post, data: { confirm: 'Are you sure you want to delete this experience?' }%></div></td>
            <td><div class="delete-button"><%= button_to 'Ban', { controller: 'users', action: 'remoteBan', id: flagged_experience.experience.user_id }, method: :get, data: { confirm: 'Are you sure you want to ban this user?' } %></div></td>
          </tr>
        <% end %>
        <% @tips.reject{ |t| t.user.banned? }.each do |flagged_tip| %>
          <tr>
            <td><%= flagged_tip.tip.tip %></td>
            <td><%= link_to flagged_tip.tip.user.name, user_path(flagged_tip.tip.user) %></td>
            <td>Tip</td>
            <td><%= flagged_tip.tip.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= flagged_tip.user.name %></td>
            <td><%= flagged_tip.created_at.strftime("%m/%d/%Y") %></td>
            <td><div class="delete-button"><%= button_to 'Clear', unflag_tip_path(flagged_tip.tip_id), method: :post, data: { confirm: 'Are you sure you want to clear all flags for this tip?' }%></div></td>
            <td><div class="delete-button"><%= button_to 'Delete', "/tip/#{flagged_tip.tip.id}/rdelete", method: :post, data: { confirm: 'Are you sure you want to delete this tip?' }%></div></td>
            <td><div class="delete-button"><%= button_to 'Ban', { controller: 'users', action: 'remoteBan', id: flagged_tip.tip.user_id }, method: :get, data: { confirm: 'Are you sure you want to ban this user?' } %></div></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>

<script>
  $(document).ready(function() {
    $('#search-field').on('keyup', function() {
      var query = $(this).val().toLowerCase();
      $('.flagged-list tbody tr').filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(query) > -1)
      });
    });
  });
  $(document).ready(function() {
    $('#search-form').submit(function(event) {
      event.preventDefault(); // prevent the default form submission behavior
      var query = $('#search-field').val().toLowerCase();
      $('.flagged-list tbody tr').filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(query) > -1)
      });
    });
  });
</script>