<div onclick="window.location.href = '/';">
<div id="page-header" style="background-image: url('<%= @program.banner.attached? ? url_for(@program.banner) : asset_path('header-background.jpg') %>');">
  Participants for <br /> <%= @program.name %>
</div>
</div>
<div id="flex-container">
    <div id="column1" class="flex-item"></div>
  <div id="column2" class="flex-item"><%= form_tag program_participants_path, :method => :post do %>
    <%= link_to "Back", edit_program_path(@program) %>
  <% end %>
    <div style="display:flex; justify-content: center; margin-top: 50px; margin-bottom: 70px">
    <div  id="column2" class="flex-item">
      <table class="users-list">
        <thead>
          <tr>
            <td>Email</td>
            <td>Faculty</td>
            <td> </td>
          </tr>
        </thead>
        <tbody>
          <% @participants.each do |participant| %>    
          <tr>
            <td><%= participant.email %></td>
            <td class="users-admin-column"><%= if participant.is_faculty then "x" end %></td>
            <td style="display: flex; justify-content: end; width: 100%">
              <%= link_to "Remove", "/programs/#{@program.id}/participants/#{participant.id}", method: :delete %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
    
    <div style="text-align: center;">
    <p style="font-weight: bold; font-size: 36px; font-family: Arial, sans-serif; color: #333;">Add participants</p>
    </div>
    
    <table class="program-edit-table">
      <tbody>
        <tr>
          <td class="program-edit-label">
            <strong><label for="emails">Participant Emails (one per line):</label></strong>
          </td>
          <td>
            <%= text_area_tag :emails, nil, rows: 5, cols: 50, required: true %>
          </td>
        </tr>
        <tr>
          <td>
            <p><strong>Faculty:</strong></p>
          </td>
          <td style="display: flex; justify-content: end; align-items: center">
            <%= check_box :participant, "is_faculty" %>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="program-edit-submit"><%= submit_tag 'Save' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

