<div id="page-header">User: <%= @user.name %></div>
<div id="flex-container">
 <% if current_user.admin %><div id="column1" class="flex-item"><table class="user-admin">
     <thead>
         <tr>
             <td>Admin Functions</td>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td><%= if @user.admin then
                    link_to 'Demote Admin', :controller => :users, :action => :demote
                else
                    link_to 'Promote to Admin', :controller => :users, :action => :promote
                end%></td>
         </tr>
         <tr>
             <td><%= if @user.banned then
                    link_to 'Unban User', :controller => :users, :action => :unban
                else
                    link_to 'Ban User', ban_comment_path(@user)
                end%></td>
         </tr>
     </tbody>
 </table></div><%end%>
 <div id="column2" class="flex-item"><%= form_tag user_path(@user), :method => :put, enctype: "multipart/form-data" do %>
    <table class="user-edit-table">
        <tbody>
            <tr>
                <td class="user-edit-label">Email Address:</td>
                <td><%= @user.email %></td>
            </tr>
            <tr>
                <td class="user-edit-label">Avatar:</td>
                <td><%= file_field_tag :avatar, class: "form-control" %>
            </tr>
            <tr>
                <% if current_user.admin %>
                <td class="user-edit-label">Abroad Program:</td>
                <td><select name="program_id"><option value=0>--Select Study Abroad Program--</option>
                    <%= @programs.each do |program| %>
                        <option value="<%= program.id %>" <%= if @user.program_id == program.id then "selected" end %>><%= program.name %></option>
                    <% end %>
                </select></td>
                <% end %>
            </tr>
            <tr>
                <td colspan="2" class="user-edit-submit"><%= submit_tag 'Save' %></td>
            </tr>
        </tbody>
    </table>
 <% end %></div>
</div>