<div id="page-header">Edit Your Experience</div>
<div id="flex-container">
 <div id="column2" class="flex-item"><%= form_tag experience_path(@experience), :method => :put do %>
    <table class="experience-edit-table">
        <tbody>
            <tr>
                <td class="experience-edit-label">Title:</td>
                <td><%= text_field :experience, :title, :required => true %><div class="experience-edit-title-tips">&nbsp;</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Experience:</td>
                <td><%= text_area :experience, :experience, :required => true %><div class="experience-edit-field-tips">&nbsp;</div></td>
            </tr>
            <!--<tr>-->
            <!--    <td class="experience-edit-label">Image:</td>-->
            <!--    <td><%= file_field_tag :image, class: "form-control" %>-->
            <!--</tr>-->
            <!--<tr>-->
                <td class="experience-edit-label">Rating:</td>
                <td><fieldset class="rating">
                      <%= radio_button :experience, :rating, "5", :required => true %> <%= label(:experience, :rating.to_s + "_5" ) %> 
                      <%= radio_button :experience, :rating, "4", :required => true %> <%= label(:experience, :rating.to_s + "_4" ) %> 
                      <%= radio_button :experience, :rating, "3", :required => true %> <%= label(:experience, :rating.to_s + "_3" ) %> 
                      <%= radio_button :experience, :rating, "2", :required => true %> <%= label(:experience, :rating.to_s + "_2" ) %> 
                      <%= radio_button :experience, :rating, "1", :required => true %> <%= label(:experience, :rating.to_s + "_1" ) %>
                </fieldset><div class="experience-edit-field-tips">&nbsp;</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Tags:<div>(optional)</div></td>
                <td><%= text_field :experience, :tags, :placeholder => "comma separated list of tags" %><div class="experience-edit-field-tips">Popular tags: wifi, cash only, English</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Location:<div>(optional)</div></td>
                <td class="location-input">
                    <input id="name" type="text" placeholder="Place Name"></input>
                    <!--<input id="street" type="text" placeholder="Street" disabled></input>-->
                    <!--<input id="city" type="text" placeholder="City" disabled></input>-->
                    <!--<input id="postal_code" type="text" placeholder="Postal Code" disabled></input>-->
                </td>
                <!--<td id="yelp-search-wrapper" <% if @experience.yelp_id %>style="display: none;"<% end %>><input id="yelp-search" type="text" placeholder="search for business"> &nbsp; <span class="experience-edit-label">Near:</span><input id="yelp-near" type="text" value="<%= @near %>"><div id="yelp-search-results"></div></td>-->
                <!--<td id="yelp-location-wrapper" <% if @experience.yelp_id %>style="display: table-cell;"<% end %>><% if @experience.yelp_id %>-->
                <!--    <div id="yelp-selected-location"><div id="yelp-remove-selected-location">✖</div><%= @experience.yelp_name %></div>-->
                <!--    <input type="text" name="yelp_name" class="yelp-hidden-field" value="<%= @experience.yelp_name %>">-->
                <!--    <input type="text" name="yelp_address" class="yelp-hidden-field" value="<%= @experience.yelp_address %>">-->
                <!--    <input type="text" name="yelp_alias" class="yelp-hidden-field" value="<%= @experience.yelp_alias %>">-->
                <!--    <input type="text" name="yelp_id" class="yelp-hidden-field" value="<%= @experience.yelp_id %>">-->
                <!--    <input type="text" name="yelp_url" class="yelp-hidden-field" value="<%= @experience.yelp_url %>">-->
                <!--    <input type="text" name="yelp_image_url" class="yelp-hidden-field" value="<%= @experience.yelp_image_url %>">-->
                <!--    <input type="text" name="yelp_rating" class="yelp-hidden-field" value="<%= @experience.yelp_rating %>">-->
                <!--    <input type="text" name="yelp_tags" class="yelp-hidden-field" value="<%= @experience.yelp_tags %>">-->
                <!--<% end %></td>-->
            </tr>
            <tr>
                <td colspan="2" class="experience-edit-submit"><%= submit_tag 'Save' %> &nbsp;&nbsp;&nbsp;&nbsp; <%= submit_tag "Cancel", :class => 'cancel' %></td>
            </tr>
        </tbody>
    </table>
 <% end %></div>
 
 
</div>