<div onclick="window.location.href = '/p/<%= @program.id %>';">
<div id="page-header" style="background-image: url('<%= @program.banner.attached? ? url_for(@program.banner) : asset_path('header-background.jpg') %>');">
  Share Your Experience
</div>
</div>

<div id="flex-container">
 <div id="column2" class="flex-item"><%= form_tag experiences_path, :method => :post, enctype: "multipart/form-data" do %>
    <table class="experience-edit-table">
        <tbody>
            <tr>
                <td class="experience-edit-label">Title:</td>
                <td><%= text_field :experience, :title, :required => true, :placeholder => "Enter a descriptive title" %><div class="experience-edit-title-tips">&nbsp;</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Experience:</td>
                <td><%= text_area :experience, :experience, :required => true, :placeholder => "Describe your experience" %><div class="experience-edit-field-tips">&nbsp;</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Image:</td>
                <!--<td>< %= file_field_tag 'images[]', :multiple => true, :accept => 'image/jpeg,image/png, image/jpg, image/gif', class: "form-control" %>-->
                <td>
                  <form action="your-post-url" method="post" enctype="multipart/form-data">
                      <input type="file" id="file-input" name="images[]" accept="image/*" multiple>
                      <button type="button" class="form-control" id="customFile" onclick="document.getElementById('file-input').click();" style="display:none;">Choose Images</button>
                      <br>
                    </form>
                </td>

                

                
            </tr>
            <tr>
                <td class="experience-edit-label">Rating:</td>
                <td><fieldset class="rating">
                      <%= radio_button :experience, :rating, "5", :required => true %> <%= label(:experience, :rating.to_s + "_5" ) %> 
                      <%= radio_button :experience, :rating, "4", :required => true %> <%= label(:experience, :rating.to_s + "_4" ) %> 
                      <%= radio_button :experience, :rating, "3", :required => true %> <%= label(:experience, :rating.to_s + "_3" ) %> 
                      <%= radio_button :experience, :rating, "2", :required => true %> <%= label(:experience, :rating.to_s + "_2" ) %> 
                      <%= radio_button :experience, :rating, "1", :required => true %> <%= label(:experience, :rating.to_s + "_1" ) %>
                </fieldset><div class="experience-edit-field-tips">&nbsp;</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Tags:<div>(optional)</div></td>
                <td><%= text_field :experience, :tags, :placeholder => "comma separated list of tags" %><div class="experience-edit-field-tips">Popular tags: wifi, cash only, English</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Location:<div>(optional)</div></td>
                <!--<td id="yelp-search-wrapper"><input id="yelp-search" type="text" placeholder="search for business"> &nbsp; <span class="experience-edit-label">Near:</span><input id="yelp-near" type="text" value="<%= @near %>"><div id="yelp-search-results"></div></td>-->
                <!--<td id="yelp-location-wrapper"></td>-->
                <td class="location-input">
                    <%= text_field :experience, :location, :placeholder => "Place Name"%><div class="experience-edit-field-tips"></div>
                    <%= text_field :experience, :street, :placeholder => "Street", :disabled => true %><div class="experience-edit-field-tips"></div>
                    <%= text_field :experience, :city, :placeholder => "City", :disabled => true %><div class="experience-edit-field-tips"></div>
                    <%= text_field :experience, :postal_code, :placeholder => "Postal Code", :disabled => true %><div class="experience-edit-field-tips"></div>
                </td>
                    <!--<input id="country" type="text" placeholder="Country" value= <%= :program %>></input>-->
            </tr>
            <tr>
                <td colspan="2" class="experience-edit-submit"><%= submit_tag 'Save' %></td>
            </tr>
        </tbody>
    </table>
 <% end %></div>
 
 
</div>