<div id="page-header">Share Your Experience</div>
<div id="flex-container">
 <div id="column2" class="flex-item"><%= form_tag experiences_path, :method => :post do %>
    <table class="experience-edit-table">
        <tbody>
            <tr>
                <td class="experience-edit-label">Experience:</td>
                <td><%= text_area :experience, :experience %><div class="experience-edit-field-tips">&nbsp;</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Rating:</td>
                <td><fieldset class="rating">
                      <%= radio_button(:experience, :rating, "5") %> <%= label(:experience, :rating.to_s + "_5" ) %> 
                      <%= radio_button(:experience, :rating, "4") %> <%= label(:experience, :rating.to_s + "_4" ) %> 
                      <%= radio_button(:experience, :rating, "3") %> <%= label(:experience, :rating.to_s + "_3" ) %> 
                      <%= radio_button(:experience, :rating, "2") %> <%= label(:experience, :rating.to_s + "_2" ) %> 
                      <%= radio_button(:experience, :rating, "1") %> <%= label(:experience, :rating.to_s + "_1" ) %>
                </fieldset><div class="experience-edit-field-tips">&nbsp;</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Tags:</td>
                <td><input type="text"><div class="experience-edit-field-tips">Popular tags: wifi, cash only, English</div></td>
            </tr>
            <tr>
                <td class="experience-edit-label">Location:<br>(optional)</td>
                <td><input id="yelp-search" type="text" placeholder="search Yelp!"><div class="experience-edit-field-tips">&nbsp;</div></td>
            </tr>
            <tr>
                <td colspan="2" class="experience-edit-submit"><%= submit_tag 'Save' %></td>
            </tr>
        </tbody>
    </table>
 <% end %></div>
 
 
</div>