<div id="page-header" style="background-image: url('<%= @program.banner.attached? ? url_for(@program.banner) : asset_path('header-background.jpg') %>');">
  <%= @program.name %>
</div>

<div class="flex-header">
 <div class="header_column_1_of_1" class="flex-item">
  <div><a href="/p/<%= @program.id %>" class="header-return-link">&#x21D0; Return</a></div>
 </div>
</div>
<div id="flex-container">
 <div id="column_2_of_2" class="flex-item">
     <div class="portal-column-title">Experiences <%= if current_user.id == @experience.user_id then link_to 'Edit', edit_experience_path; end %>
         <div class="portal-column-title-sort">&nbsp;</div>
     </div>
 
 	<div class="portal-experience-outer-wrapper" id="portal-experience-wrapper-<%= @experience.id %>"><%= render 'experiences/view' , locals: {experience: @experience, single: true} %></div>

 
</div>
<%if not logged_in? %><div class="arrow-box">Sign in to share your tips and experiences!</div><% end %>