<div id="portal-switch-programs"><%= form_tag program_view_path(), :method => :get, :id => "portal-switch-programs-form" do %><select name="program_id"><option value=0 disabled selected>--View Another Program--</option>
                <% @programs.each do |program| %>
                    <% if program.id != @program.id then %>
                       <option value="<%= program.id %>"><%= program.name %></option>
                    <%end%>
                <% end %>
            </select><%end%></div>
<div id="portal-header"><%= @program.name %></div>
<div id="flex-container">
 <div id="column1" class="flex-item">
     <div class="portal-column-title">Tips <%= if session[:user] then link_to '+ Add', new_tip_path; end %>
         <div class="portal-column-title-sort">sort by: <select><option>most helpful</option><option>date</option></select></div>
     </div>
 <% @tips.each do |tip| %>
     <div class="portal-tip"><%= tip.tip %>
         <div class="portal-tip-info"><span class="portal-tip-info-user"><%= tip.user_name %></span> | <span class="portal-tip-info-date"><%= tip.created_at.strftime("%b %-d, '%y") %></span></div>
         <div class="portal-tip-helpful">helpful? <div class="tip-helpful-yes" id="tip-upvote-<%= tip.id %>">U</div> <div class="tip-helpful-no" id="tip-downvote-<%= tip.id %>">D</div></div>
     </div>
 <% end %>
 <% if @tips.size == 0 then %><div class="portal-tips-none">No tips added yet!</div><% end %></div>
 <div id="column2" class="flex-item"><div class="portal-column-title">Reviews</div><div class="portal-review">review 1</div><div class="portal-review">review 2</div><div class="portal-review">review 3</div><div class="portal-review">review 4</div><div class="portal-review">review 5</div><div class="portal-review">review 6</div><div class="portal-review">review 7</div><div class="portal-review">review 8</div></div>
 <div id="column3" class="flex-item">
     <div class="portal-column-title">Experinces <%= if session[:user] then link_to '+ Add', new_experince_path; end %>
         <div class="portal-column-title-sort">sort by: <select><option>most helpful</option><option>date</option></select></div>
     </div>
 <% @experinces.each do |experince| %>
     <div class="portal-experince"><%= experince.experince %>
         <div class="portal-experince-info"><span class="portal-experince-info-user"><%= experince.user_name %></span> | <span class="portal-experince-info-date"><%= experince.created_at.strftime("%b %-d, '%y") %></span></div>
         <div class="portal-experince-rating">
             					<% if experince.rating.nil? %>
									<%= content_tag :h4, " "%>
								<% elsif experince.rating == 0 %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
								<% elsif experince.rating == 1 %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
								<% elsif experince.rating == 2 %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
								<% elsif experince.rating == 3 %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
								<% elsif experince.rating == 4 %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_grey.svg", size: "20") %>
								<% elsif experince.rating == 5 %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
									<%= image_tag("gigs_maroon.svg", size: "20") %>
								<% end %>
         </div>
     </div>
 <% end %>
 <% if @experinces.size == 0 then %><div class="portal-tips-none">No experinces added yet!</div><% end %></div>
</div>