<div id="portal-switch-programs"><%= form_tag program_view_path(), :method => :get, :id => "portal-switch-programs-form" do %><select name="program_id"><option value=0 disabled selected>--View Another Program--</option>
                <%= @programs.each do |program| %>
                    <% if program.id != @program.id then %>
                       <option value="<%= program.id %>"><%= program.name %></option>
                    <%end%>
                <% end %>
            </select><%end%></div>
<div id="portal-header"><%= @program.name %></div>
<div id="flex-container">
 <div id="column1" class="flex-item"><div class="portal-column-title">Tips</div><div class="portal-tip">tip 1</div><div class="portal-tip">tip 2</div></div>
 <div id="column2" class="flex-item"><div class="portal-column-title">Reviews</div><div class="portal-review">review 1</div><div class="portal-review">review 2</div><div class="portal-review">review 3</div><div class="portal-review">review 4</div><div class="portal-review">review 5</div><div class="portal-review">review 6</div><div class="portal-review">review 7</div><div class="portal-review">review 8</div></div>
 <div id="column3" class="flex-item"><div class="portal-column-title">Experiences</div><div class="portal-experience">experience 1</div><div class="portal-experience">experience 2</div><div class="portal-experience">experience 3</div></div>
</div>