<div id="portal-switch-programs"><%= form_tag program_view_path(), :method => :get, :id => "portal-switch-programs-form" do %><select name="program_id"><option value=0 disabled selected>--View Another Program--</option>
                <% @programs.each do |program| %>
                    <% if program.id != @program.id then %>
                       <option value="<%= program.id %>"><%= program.name %></option>
                    <%end%>
                <% end %>
            </select><%end%></div>
<div id="page-header"><%= @program.name %></div>
<div id="flex-container">
 <div id="column_1_of_2" class="flex-item">
     <div class="portal-column-title">Tips <%= if session[:user] then link_to '+ Add', new_tip_path; end %>
         <div class="portal-column-title-sort">sort by: <select><option>most helpful</option><option>date</option></select></div>
     </div>
 <% @tips.each do |tip| %>
    <div class="portal-tip-wrapper" id="portal-tip-wrapper-<%= tip.id %>"><%= render 'tips/view' , locals: {tip: tip} %></div>
 <% end %>
 <% if @tips.size == 0 then %><div class="portal-tips-none">No tips added yet!</div><% end %></div>
 <div id="column_2_of_2" class="flex-item">
     <div class="portal-column-title">Experiences <%= if session[:user] then link_to '+ Add', new_experience_path; end %>
         <div class="portal-column-title-sort">sort by: <select id="portal-sort-experiences" name="experience_sort_by"><option value="rating" <%= if @experience_sort_by == "rating" then "selected" end %>>original rating</option><option value="avg_rating" <%= if @experience_sort_by == "avg_rating" then "selected" end %>>average rating</option><option value="date" <%= if @experience_sort_by == "date" then "selected" end %>>date</option></select></div>
     </div>
 <% @experiences.each_with_index do |experience, index| %>
 	<div class="portal-experience-wrapper" id="portal-experience-wrapper-<%= experience.id %>"><%= render 'experiences/view' , locals: {experience: experience} %></div>
    <% if index < @experiences.size - 1 then %><div class="experience-div"></div><% end %>
 <% end %>
 <% if @experiences.size == 0 then %><div class="portal-experiences-none">No experiences added yet!</div><% end %></div>
</div>